name: PR Validation

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]

jobs:
  macos:
    name: Test on macOS
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
          
      - name: Run test suite
        run: swift package clean && swift test --filter "SubtreeLibTests" --jobs 2

  linux:
    name: Test on Linux
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      # - name: Set up Docker Buildx
      #   uses: docker/setup-buildx-action@v3
        
      - name: Run Linux test suite
        run: |
          docker run --rm -v "$(pwd):/workspace" -w /workspace swift:6.1 \
            bash -c 'swift package clean && swift test --filter "SubtreeLibTests" --jobs 2'